name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Create Build
        run: |
          mkdir build
          echo "Build Successful!" > build/output.txt

      # Upload artifact to CI (Actions Artifacts)
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: build/

      # Create GitHub Release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: "Release v1.0.${{ github.run_number }}"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.G2_TOKEN }}

      # Upload Artifact to Release
      - name: Upload Artifact to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.${{ github.run_number }}   # REQUIRED!
          files: build/output.txt
          overwrite: true
        env:
          GITHUB_TOKEN: ${{ secrets.G2_TOKEN }}
